<form action="/create/" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-default" id="submit-btn">Add</button>
    <a href="/appointment/"><button type="button" class="btn btn-danger" id="cancel-btn">Cancel</button></a>
    <div class="form-group">
        <label class="col-form-label">Day / Time</label>
        {{ form.time }}
    </div>
    <div class="form-group">
        <label class="col-form-label">Description</label>
        {{ form.description }}
    </div>
</form>
